<h3>Welcome!</h3>

<ul>
<% @post.each do |post| %>
	
	<% if logged_in? %>
	
	<div class='well' style = 'float:left; width:52px'>

	<%= link_to  '<i class="icon-thumbs-up"></i>'.html_safe, vote_post_path(post, vote: true), method: 'post', remote: true %> 
	<span id="post_<%=post.id%>_votes"><%= post.total_votes %></span>
	<%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, vote_post_path(post, vote: false), method: 'post', remote: true %>
	
	<% end %>
	</div>
	
	<div class='well' style='margin-left: 95px;'>
	<%= link_to post.title, post %>
	<small>[<%=link_to 'link', fix_url(post.url) %>] posted at
	<%= display_datetime(post.created_at) %> |
	<%= link_to 'edit', edit_post_path(post) %>
	</small>
	</div>
	
<% end %>
</ul>