<h5>Model backed </h5>
<% if @category.errors.any? %>
	<%= @category.errors.full_messages.join(', ') %>
<% end %>

<%= form_for @category do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</br>
	<%= f.submit "Create category" %>
<% end %>